<h1>Todos</h1>
 <button type="button" class="btn btn-circle btn-default">
    <i class="material-icons">add circle</i>    
  </button>

<div class="panel panel-primary">
  <div class="panel-body todos">
    <form>
      <table>
        <tr>
          <td><i>Zuweisen</i></td>
          <td>Titel</td>
          <td>Text</td>
        </tr>
        <tr *ngFor="let todo of todos">
          <!--<div *ngIf="todos.indexOf(todo)" class="todo-separator"></div>-->
            <td><input type="radio" name="todo"></td>
            <td class="todo-title "><a class="message-received" [routerLink]="['/todo/todoId', todo.id]">{{todo.title}}</a></td>
            <td class="todo-text ">{{todo.text}}</td>
        </tr> 
      </table>
    </form>
  </div>
</div>

<h1>Contacts</h1>
<div class="panel panel-primary">
  <div class="panel-body contacts">
    <table>
      <tr>
        <td><i>Zuweisen</i></td>
        <td>Name</td>
        <td>Email</td>
      </tr>
      <tr *ngFor="let contact of  contactList">
        <!--<div *ngIf=" contactList.indexOf(contact)" class="contact-separator"></div>-->
        <td><input type="radio" name="contact"></td>
        <td class="contact-name">
          <a class="message-received" [routerLink]="['/contact/contactId', contact.userId]">{{contact.name}}</a>
        </td>
        <td class="contact-email">{{contact.email}}</td>
      </tr> 
    </table> 
  </div>
</div>