<h1>Todos</h1>
<div class="panel panel-primary">
  <div class="panel-body todos">
    <div *ngFor="let todo of todos">
      <div *ngIf="todos.indexOf(todo)" class="todo-separator"></div>
      <a class="message-received" [routerLink]="['/todo/todoId', todo.id]">
        <div class="todo-id">{{todo.id}}</div>
        <div class="todo-title">{{todo.title}}</div>
        <div class="todo-text">{{todo.text}}</div>
      </a>
    </div> 
  </div>
</div>

<h1>Contacts</h1>
<div class="panel panel-primary">
  <div class="panel-body contacts">
    <div *ngFor="let contact of  contactList">
      <div *ngIf=" contactList.indexOf(contact)" class="contact-separator"></div>
      <a class="message-received" [routerLink]="['/contact/contactId', contact.userId]">
        <div class="contact-name">{{contact.name}}</div>
        <div class="contact-email">{{contact.email}}</div>
      </a>
    </div> 
  </div>
</div>