/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
$icon-font-path: "../node_modules/bootstrap-sass/assets/fonts/bootstrap/";
@import "../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

body {
    padding: 2em 23em;
    background:lightgray;
}

.mat-select {
    padding-top: 0px;
    padding-bottom: 16px;
}