<h1 class="mat-display-1">Todo</h1>
<form>
    <div layout-gt-xs="row">
        <md-form-field>
            <input [(ngModel)]=todo.title mdInput type="text" placeholder="Aufgabe" class="form-control" id="title" name="title" autofocus="autofocus" required>
        </md-form-field>
    </div>
    <div layout-gt-xs="row">
        <md-form-field>
              <textarea [(ngModel)]=todo.text mdInput type="text" placeholder="Beschreibung" class="form-control" id="text" name="text" required></textarea>
          </md-form-field>
    </div>
    <p></p>
  <button md-raised-button (click)="addTodo()" class="btn btn-default">Anlegen</button>
  <button md-raised-button (click)="updateTodo()" class="btn btn-default">Ändern</button>
  <button md-raised-button (click)="removeTodo()" class="btn btn-default">Löschen</button>
</form>
