<md-card>
  <button routerLink="/" md-button aria-label="Login">
    Login
  </button>
  <button routerLink="/logout" md-button aria-label="Logout">
    Logout
  </button>
  <button routerLink="/registration" md-button aria-label="Registrieren">
    Registrieren
  </button>
  <button routerLink="/todo/index" md-button aria-label="Todos">
    Todos
  </button>
  <button routerLink="contact/index" md-button aria-label="Kontakte">
    Kontakte
  </button>
</md-card>
<input id="message" type="text">
<button onclick="sendMessage()">Senden</button>
<div id="messages"></div>
  
<button (click)="openSnackBar('test1','test2')" md-mini-fab> 
  <md-icon class="md-24">build</md-icon>
</button>

<p></p>
<router-outlet></router-outlet>