<md-card>
  <button *ngIf=!authenticated() routerLink="/" md-button aria-label="Login">
          Login
        </button>
  <button *ngIf=!authenticated() routerLink="/registration" md-button aria-label="Registrieren">
          Registrieren
        </button>
  <button *ngIf=authenticated() routerLink="/todo/index" md-button aria-label="Todos">
        Todos
      </button>
  <button *ngIf=authenticated() routerLink="contact/index" md-button aria-label="Kontakte">
        Kontakte
      </button>
  <button *ngIf=authenticated() routerLink="/logout" md-button aria-label="Logout">
        Logout
      </button>
</md-card>
<input id="message" type="text">
<button onclick="sendMessage()">Senden</button>
<div id="messages"></div>
  
<button (click)="openSnackBar('test1','test2')" md-mini-fab> 
  <md-icon class="md-24">build</md-icon>
</button>

<p></p>
<router-outlet></router-outlet>