<h1 class="mat-display-1">Kontakte</h1>
<form>
    <div layout-gt-xs="row">
        <md-form-field>
            <input [(ngModel)] = contact.email mdInput type="text" placeholder="Emailadresse" class="form-control" id="contactEmail" name="contactEmail" required>
        </md-form-field>
    </div>
    <p></p>
  <button md-raised-button (click)="addContact()" class="btn btn-default">Anlegen</button>
  <button md-raised-button (click)="removeContact()" class="btn btn-default">Löschen</button>
</form>